.contact {
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;
  margin-left: auto;
  padding: 32px 0;

  &__icon {
    fill: currentColor;
  }

  &__link {
    text-decoration: none;
    color: $bravoColor;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accentColor;
    }
  }
}
