.page-header {
  border-bottom: 1px solid $navBrColor;

  &__menu {
    height: 80px;
    display: flex;
    align-items: center;
  }
}
.navigation {
  display: flex;
  gap: 50px;

  &__item {
    margin-top: 32px;
    margin-bottom: 0;
    font-weight: 500;
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: $alfaColor;
    letter-spacing: 0.02em;
    font-size: 14px;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accentColor;
    }
  }
}

.contact {
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;
  margin-left: auto;
  padding: 32px 0;

  &__icon {
    fill: currentColor;
  }
  &__link {
    text-decoration: none;
    color: $bravoColor;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accentColor;
    }
  }
}

.page-main {
  background-color: $secondaryBgColor;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/Workers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: $primaryBgColor;
    text-align: center;
    text-transform: uppercase;
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

.page-footer {
  background-color: $secondaryBgColor;
  padding: 60px 0;
  &__box {
    display: flex;
    align-items: baseline;
  }
  &__contact {
    font-style: normal;
    margin-top: 20px;
  }
  &__item {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
  &__map {
    text-decoration: none;
    line-height: 1.71;
    color: $primaryBgColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accentColor;
    }
  }
  &__link {
    text-decoration: none;
    line-height: 1.71;
    color: $deltaColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accentColor;
    }
  }
  &__social-media {
    margin-left: 70px;
    margin-right: auto;
  }
  &__title {
    color: $primaryBgColor;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }
  &__border {
    display: flex;
    gap: 12px;
  }
  &__mail-input {
    width: 358px;
    height: 50px;
    color: $primaryBgColor;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding-left: 16px;
    background-color: $secondaryBgColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accentColor;
      border-color: $accentColor;
      outline: none;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover::placeholder {
      color: $primaryBgColor;
    }
    &:focus::placeholder {
      color: $primaryBgColor;
    }
  }
}
